#about {
    section:nth-child(2) {
        position: relative;

        p:nth-of-type(2) {
            align-self: center;
            margin-top: 2rem;
            color: var(--color-secondary);
            font-size: 1.5em;
            font-weight: var(--font-weight-strong);
            text-align: center;
        }
    }
}