// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: #E8E9F3;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-secondary);
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

// #styles {
//   &::after {
//     content: '';
//     background-image: url('/images/tombstone-150 .png');
//     background-repeat: no-repeat;
//     width: 50%;
//     height: 150px;
//     display: block;
//     margin-left: 40%;
//   }
// }

#about {
  .container:nth-child(1) {
    &::after {
      content: '';
      background-image: url('/images/tombstone-150 .png');
      background-repeat: no-repeat;
      width: 50%;
      height: 150px;
      display: block;
      margin-left: 40%;
      animation: shake 0.3s ease-in-out infinite;
    }
  }

  @keyframes shake {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
  }
  

  // .container:nth-child(2) {
  //   &::after {
  //     content: '';
  //     background-image: url('/images/black-cat-150px.png');
  //     background-repeat: no-repeat;
  //     width: 50%;
  //     height: 150px;
  //     display: block;
  //     margin-left: 40%;
  //   }
  // }
}

@keyframes shakeUp {
  0% {transform: translateY(20px);}
  50% {transform: translateY(50px);}
  100% {transform: translateY(20px);}
}


// Halloween Banner
#guidelines {
  &::after {
    content: '';
    background-image: url('/images/bunting100px.png');
    background-repeat: repeat;
    // background-size: cover;
    width: 100%;
    height: 100px;
    display: block;
    // margin: 5%;
  }
}

#contribute {
  .container:nth-child(2) {
    &::after {
      content: '';
      background-image: url('/images/death-150px.png');
      background-repeat: no-repeat;
      width: 50%;
      height: 150px;
      display: block;
      margin-left: 40%;
    }
  }
}

@media (min-width: 992px) {
  main {
    #about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 500px 1fr;
    }

    .container:nth-child(2) {
      grid-column: 2;
      grid-row: 2;
    }

    #guidelines {
      grid-column: 2;
    }
  }

  #contribute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 500px 400px;

    .container:nth-child(1) {
      grid-column: 1;
      // grid-row: 2;
    }

    footer {
      grid-column: 1;
      grid-row: 3;
    }
  }

  #styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .container {
      grid-column: 2;
    }
  }

  #styles {
    &::before {
      content: '';
      background-image: url('/images/tombstone.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      // height: 150px;
      display: block;
      margin-top: 20%;
      margin-left: 70%;
    }
  }

  #about {
    .container:nth-child(1) {
      &::after {
        content: '';
        background-image: url('/images/bats.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 40%;
       
      }
    }

    .container:nth-child(2) {
      &::before {
        content: '';
        background-image: url('/images/ghost-150px.png');
        background-repeat: no-repeat;
        width: 50%;
        height: 150px;
        display: block;
        margin-left: 40%;
      }
    }
  }

  // Halloween Banner
  #guidelines {
    &::after {
      content: '';
      background-image: url('/images/bunting100px.png');
      background-repeat: repeat;
      // background-size: cover;
      width: 100%;
      height: 100px;
      display: block;
      // margin: 5%;
    }
  }

  #contribute {
    .container:nth-child(2) {
      &::after {
        content: '';
        background-image: url('/images/death.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 2%;
      }
    }

    // .container:nth-child(1) {
    //   &::after {
    //     content: '';
    //     background-image: url('/images/eyeball-300px.png');
    //     background-repeat: no-repeat;
    //     width: 100%;
    //     height: 300px;
    //     display: block;
    //     margin-top: 15%;
    //     margin-left: 20%;
    //   }
    // }
  }
}