.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1.125rem;
    overflow: hidden;

    &:focus {
        position: fixed;
        width: auto;
        height: auto;
        padding: 0.5em;
    }
}

[class^="link"]:not(.link-codepen) {
    min-height: 3em;
    background-color: var(--color-background);
    box-shadow: 0 20px 50px #240046;
    border-radius: 0 40px 0 40px;
}

[class^="link"]:not(.link-codepen),
.profile .container>a {
    display: inline-flex;
    align-items: center;
    // justify-content: center;
    padding: 0 0.75em;
    transform: translate(0, 0);
    transition: 180ms all ease-in-out;
    font-size: 1.125rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: var(--color-secondary);

    &:hover,
    &:focus {
        border-radius: 40px 0px 40px 0px;
        transform: translate(-0.15em, -0.15em);
        color: #720E07;
        background-color: #E8E9F3;
        font-weight: bold;
        // font-family: 'Rubik Wet Paint';
        // font-size: 1.125rem;
    }
}

.link-allstyles {
    font-size: var(--font-size-h4);

    @media (max-width: 400px) {
        margin-left: 6rem;
    }
}

.link-github {
    svg {
        width: 1em;
        height: 1em;
        margin-right: 0.25em;
        fill: currentColor;
    }
}