nav {
  background-color: var(--color-background);
  box-shadow: 0 20px 55px #E8E9F3;
  border-radius: 0 40px 0 40px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    flex-shrink: 0;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-primary-alt);
      font-size: 25px;
      font-family: 'Bebas Neue', serif;
      text-decoration: none;

      &:hover {
        // color: #ffee10;
        // box-shadow: 0 0 5px #ffee10;
        font-family: "Creepster";
        color: var(--color-secondary);
        text-shadow: 0 5px 5px #720E07;
        font-size: 25px;
        // font-weight: bold;
      }
    }

    li {
      margin: 0.25rem;
      flex-basis: calc(50%-50px);
      margin-bottom: 10px;
    }
  }

}