nav {
  ul {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap
    justify-content: space-between;
    list-style: none;
    flex-shrink: 0;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-primary-alt);
      font-size: 20px;
      font-family: 'Young Serif', serif;
      text-decoration: none;
    }

    li {
      margin: 0.25rem;
      flex-basis: calc(50%-50px);
      margin-bottom: 10px;
    }
  }
}
