.features {
    li {
        padding: 1rem;
        list-style-image: url("/images/candy-30px.png");

        a {
            // color: inherit;
            font-size: 1.3rem;
            font-weight: var(--font-weight-strong);
            // text-decoration: none;
        }
    }
}