@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Aboreto&family=Creepster&family=Henny+Penny&family=Irish+Grover&family=Jolly+Lodger&family=Mountains+of+Christmas&family=Rubik+Wet+Paint&family=Young+Serif&family=Metal+Mania&family=Work+Sans:wght@400;600&family=Bebas+Neue&family=Nosifer&display=swap");
:root {
  --color-primary: #3a00ff;
  --color-primary-alt: #ff6d00;
  --color-secondary: #99aa38;
  --color-background: #09090e;
  --color-text: #412d86;
  --color-light: #fff;
  --color-anchor: #3a00ff;
  --font-family: "Bebas Neue", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

ul {
  list-style-image: url("/images/pumpkin-20px.png");
}

/* Box sizing rules */
/* Remove default margin */
header {
  margin: 10px 5px;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  color: var(--color-primary-alt);
  font-family: "Metal Mania";
  text-align: center;
}

h2,
h3,
h4 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  color: #99aa38;
  background-color: var(--color-background);
  padding: 0.25em 0.5em;
  font-family: "Nosifer";
  box-sizing: border-box;
  box-shadow: 0 20px 50px #240046;
  padding: 20px;
  align-self: center;
  border-radius: 0 40px 0 40px;
}

#main h2,
#main h3 {
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h2);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-primary-alt);
  text-decoration: underline;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

/* Base styles for the body */
body {
  background-color: var(--color-background);
  color: #e8e9f3;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
}

/* Styles for the main section */
main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-secondary);
}

/* Styles for common containers */
article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

/* About section styles */
#about .container:nth-child(1)::after {
  content: "";
  background-image: url("/images/bats-150px.png");
  background-repeat: no-repeat;
  width: 50%;
  height: 150px;
  display: block;
  margin-left: 40%;
  animation: rotateLeftRight 2s infinite;
  transform-origin: center;
}
@keyframes rotateLeftRight {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
#about .container:nth-child(2)::after {
  content: "";
  background-image: url("/images/ghost-150px.png");
  background-repeat: no-repeat;
  width: 50%;
  height: 150px;
  display: block;
  margin-left: 40%;
  animation: shakeUp 3s infinite;
}

/* Keyframes for shaking animation */
@keyframes shakeUp {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(5px);
  }
}
/* Guidelines section styles */
#guidelines::after {
  content: "";
  background-image: url("/images/bunting100px.png");
  background-repeat: repeat;
  width: 100%;
  height: 100px;
  display: block;
}

/* Contribute section styles */
#contribute .container:nth-child(2)::after {
  content: "";
  background-image: url("/images/death-150px.png");
  background-repeat: no-repeat;
  width: 50%;
  height: 150px;
  display: block;
  margin-left: 40%;
  animation: disappear 3s infinite;
}

/* Keyframes for disappearing animation */
@keyframes disappear {
  0%,
  100% {
    opacity: 0.1;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Media query for larger screens */
@media (min-width: 992px) {
  main #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 1fr;
  }
  main .container:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
  main #guidelines {
    grid-column: 2;
  }

  #contribute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 500px 400px;
  }
  #contribute .container:nth-child(1) {
    grid-column: 1;
  }
  #contribute footer {
    grid-column: 1;
    grid-row: 3;
  }

  #styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #styles .container {
    grid-column: 2;
  }

  /* Styles for the tombstone */
  #styles::before {
    content: "";
    background-image: url("/images/tombstone.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 20%;
    margin-left: 70%;
  }

  /* About section styles for larger screens */
  #about .container:nth-child(1)::after {
    content: "";
    background-image: url("/images/bats.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 40%;
  }
  #about .container:nth-child(2)::after {
    content: "";
    background-image: url("/images/ghost-150px.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 150px;
    display: block;
    margin-left: 40%;
    animation: shakeUp 3s infinite;
  }

  /* Keyframes for shaking animation on larger screens */
  @keyframes shakeUp {
    0% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  /* Guidelines section styles for larger screens */
  #guidelines::after {
    content: "";
    background-image: url("/images/bunting100px.png");
    background-repeat: repeat;
    width: 100%;
    height: 100px;
    display: block;
  }

  /* Contribute section styles for larger screens */
  /* Keyframes for eyeball flying animation on larger screens */
  #contribute .container:nth-child(2)::after {
    content: "";
    background-image: url("/images/death.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 2%;
  }
  #contribute .container:nth-child(1)::after {
    content: "";
    background-image: url("/images/eyeball-300px-fh.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 150%;
    display: block;
    margin-top: 15%;
    margin-left: 20%;
    transform: rotate(30deg);
    animation: eyeballFlying 3.7s infinite ease-out;
  }
  @keyframes eyeballFlying {
    0% {
      transform: translate(0, 0);
      background-image: url("/images/eyeball-300px.png");
    }
    20% {
      transform: translate(15px, -15px);
      background-image: url("/images/eyeball-300px-fh.png");
    }
    40% {
      transform: translate(30px, 0);
      background-image: url("/images/eyeball-300px-fhfv.png");
    }
    100% {
      transform: translate(0, 0);
      background-image: url("/images/eyeball-300px.png");
    }
  }
}
header {
  margin: 0;
  background: #09090e;
  background: linear-gradient(0deg, #09090e 36%, #720e07 94%, #720e07 98%);
}
header::after {
  content: "";
  background-image: url("/images/ghostParty150Height.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  display: block;
  margin-left: 25%;
  animation: ghostPartyAnimation 2s linear infinite;
}
@keyframes ghostPartyAnimation {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(5px);
  }
}
header .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header .container h1 {
  grid-column: 1/4;
  text-align: center;
}
header .container h2 {
  grid-column: 1/4;
  text-align: center;
}
header .container p {
  grid-column: 1/4;
  text-align: center;
}
header .container a:nth-child(4) {
  grid-column: 3/4;
}

@keyframes flip {
  30% {
    transform: scaleX(-1);
  }
}
@media (min-width: 800px) {
  header::after {
    content: "";
    background-image: url("/images/ghostParty150Height.png");
    background-repeat: repeat;
    background-position: center;
    width: 94%;
    height: 150px;
    display: block;
    margin-left: 3%;
    animation: none;
  }
  header .container a:nth-child(4) {
    grid-column: 2/3;
  }
  header .container a:nth-child(4)::after {
    content: "";
    background-image: url("/images/bat-65px.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 65px;
    display: block;
  }
}
nav {
  background-color: var(--color-background);
  box-shadow: 0 20px 55px #e8e9f3;
  border-radius: 0 40px 0 40px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  flex-shrink: 0;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-primary-alt);
  font-size: 25px;
  font-family: "Bebas Neue", serif;
  text-decoration: none;
}
nav ul a:hover {
  font-family: "Creepster";
  color: var(--color-secondary);
  text-shadow: 0 5px 5px #720e07;
  font-size: 25px;
}
nav ul li {
  margin: 0.25rem;
  flex-basis: calc(50%-50px);
  margin-bottom: 10px;
}

#files a {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}

.features li {
  padding: 1rem;
  list-style-image: url("/images/candy-30px.png");
}
.features li a {
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
}

.profile {
  z-index: 1;
  border-radius: 0;
}
.profile h4 {
  color: var(--color-primary-alt);
  text-align: center;
}
.profile .container {
  display: grid;
  justify-items: center;
}
.profile .container > a {
  margin-bottom: 12px;
  min-height: 2em;
  border: 2px solid currentColor;
}
.profile ul {
  justify-content: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
}
.profile ul li span:nth-child(1) {
  margin-right: 0.25em;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 0;
    top: 0;
    margin-bottom: 0;
    background-color: var(--color-background);
    box-shadow: 0 20px 50px #240046;
  }
}

.page-footer {
  margin: 0;
  background: #09090e;
  background: linear-gradient(180deg, #09090e 0%, #720e07 31%);
}
.page-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.page-footer ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-primary-alt);
  font-size: 20px;
  font-family: "Young Serif", serif;
  text-decoration: none;
}
.page-footer ul li {
  margin: 0.25rem;
  flex-basis: calc(70%-60px);
  margin-bottom: 10px;
}
.page-footer p:first-child {
  text-align: center;
}
.page-footer p a {
  text-decoration: underline;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^="link"]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-background);
  box-shadow: 0 20px 50px #240046;
  border-radius: 0 40px 0 40px;
}

[class^="link"]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: var(--color-secondary);
}
[class^="link"]:not(.link-codepen):hover,
[class^="link"]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  border-radius: 40px 0px 40px 0px;
  transform: translate(-0.15em, -0.15em);
  color: #720e07;
  background-color: #e8e9f3;
  font-weight: bold;
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}
