@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Creepster&family=Henny+Penny&family=Irish+Grover&family=Jolly+Lodger&family=Mountains+of+Christmas&family=Rubik+Wet+Paint&family=Young+Serif&display=swap");
:root {
  --color-primary: #3a00ff;
  --color-primary-alt: #FF6D00;
  --color-secondary: #99AA38;
  --color-background: #09090E;
  --color-text: #412d86;
  --color-light: #fff;
  --color-anchor: #3a00ff;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  color: var(--color-primary-alt);
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  color: #99AA38;
  background-color: var(--color-background);
  padding: 0.25em 0.5em;
  font-family: "Rubik Wet Paint";
  box-sizing: border-box;
  box-shadow: 0 20px 50px #240046;
  padding: 20px;
  align-self: center;
  border-radius: 0 40px 0 40px;
}

#main h2 {
  background-color: var(--color-background);
  align-self: center;
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  flex-shrink: 0;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-primary-alt);
  font-size: 20px;
  font-family: "Young Serif", serif;
  text-decoration: none;
}
nav ul li {
  margin: 0.25rem;
  flex-basis: calc(50%-50px);
  margin-bottom: 10px;
}
